h2 {
  margin-top: 50px;
}
body {
  padding-bottom: 100px;
}


/* Cross-fade transition */
.cross-fade-leave {
  opacity: 1;
}
.cross-fade-leave.cross-fade-leave-active {
  opacity: 0;
  transition: opacity 1s ease-in;
}

.cross-fade-enter {
  opacity: 0;
}
.cross-fade-enter.cross-fade-enter-active {
  opacity: 1;
  transition: opacity 1s ease-in;
}

.cross-fade-height {
  transition: height 1s ease-in-out;
}


/* Fade out, then fade in transition */

.wait-fade-leave {
  opacity: 1;
}
.wait-fade-leave.wait-fade-leave-active {
  opacity: 0;
  transition: opacity .5s ease-in;
}

.wait-fade-enter {
  opacity: 0;
}
.wait-fade-enter.wait-fade-enter-active {
  opacity: 1;
  /* Delay the enter animation until the leave completes */
  transition: opacity .5s ease-in .5s;
}

.wait-fade-height {
  transition: height 1s ease-in-out;
}


/* Carousel-like transition */

.carousel {
  overflow: hidden;
}

.carousel-swap-leave {
  transition: transform .3s ease-in-out;
  transform: translate(0, 0);
}
.carousel-swap-leave-active {
  transform: translate(-100%, 0);
}

.carousel-swap-enter {
  transition: transform .3s ease-in-out;
  transform: translate(100%, 0);
}
.carousel-swap-enter-active {
  transform: translate(0, 0);
}
